@import url("https://fonts.googleapis.com/css?family=Inria+Sans");
@import url("https://fonts.googleapis.com/css?family=Meddon");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

/*  GLOBAL STYLES  */
:root {
  --primary-apple-red: #521d18;
  --primary-apple-blush: #79413c;
  --secondary-apple-pink: #8F4051;

  --secondary-oak-brown: #85583C;

  --highlight-apple-green: #eae8b2;
  --highlight-jade-blue: #8eb3cf;
  --highlight-jade-green: #8eb3cf;
  --marble-blue: #c4cbdd;
  --shadow-blue: #061647;
  --glass-blue: #588AC4;

}

html {
  scroll-behavior: smooth;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inria sans";
}

h1 {
  font-family: "Meddon";
  font-size: 3rem;
  text-shadow: 1px 1px white;
  margin: 0 0;
  color: var(--primary-apple-red);
  margin: 0 0;
}

h2 {
  font-family: "Walter Turncoat";
  font-size: 1.5rem;
}

/*   HEADER   */

header {
  background: transparent;
}

.title-banner {
  display: flex;
  background-color: var(--primary-apple-blush);
  margin-bottom: 0;
}

.logo {
  background: transparent;
  margin-bottom: 0;
}

.logo img {
  height: auto;
  width: auto;
  margin: 0 0;
}

.menu-icon {
  font-family: 'Material Symbols Outlined';
  display: none;
}


nav {
  background-color: var(--primary-apple-red);
  font-size: 1.5em;
  margin-top: 0;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
}

nav ul {
  max-height: 80px;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

nav a :hover {
  color: var(--secondary-oak-brown);
}

.hero {
  background-image: linear-gradient(to right, #a88058, #cab6a2);
}

.hero-banner img {
  width: 100%;
  height: auto;
}

/* MAIN CONTENT */

.main-flex-container {
  display: flex;
  width: 100%;
  background: var(--primary-apple-red);
  flex-direction: column;
  justify-content: center;
}

.info {
  flex: 1;
  max-width: 1200px;
  padding: 1rem;
  margin: 1rem;;
  border-radius: 14px;
 
}

#projects {
  background-color: var(--primary-apple-blush);
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
min-height: 250px;
width: 350px;
color: var(--primary-apple-blush);
box-shadow: 0 0 10px rgb(73, 70, 70),
0 0 5px black;
border-radius: 7px;
background-color: #FFFFFF;
padding: 1rem;
margin: 1rem;
}

.card img{
  max-height: 200px;
  border-radius:7px;
  box-shadow: 0 0 5px rgb(73, 70, 70);
}

#aboutMe {
  background-color: var(--highlight-jade-green);

}

#skills {
  background-color: var(--secondary-oak-brown);
  border: 4px solid var(--highlight-jade-green);
}

#bch {
  background-color: var(--jade-green);
}

/* FOOTER  */

footer {
  background-color: var(--secondary-oak-brown);
  min-height: 200px;
  padding: 1rem;
}

.contact-form input {
  border-radius: 7px;
  padding: 0.5rem 1rem;
}
#logo4 {
  height: 75px;
  width: auto;
  align-items: right;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.rotate {
  animation: spin 1s 3;
}

#back-to-top {
  border-radius: 5px 5px;
  background-color: var(--jade-green);
  box-shadow: 1px 2px 2px grey;
  color: white;

}

#messageButton {
  border-radius: 7px;
}

.slidingMenu {
  background-color: var(--highlight-apple-green);
}


@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 700px) {}