@import url("https://fonts.googleapis.com/css?family=Inria+Sans");
@import url("https://fonts.googleapis.com/css?family=Meddon");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

/*  GLOBAL STYLES  */
:root {
  --primary-apple-red: #521d18;
  --primary-apple-blush: #79413c;
  --secondary-apple-pink: #8f4051;

  --secondary-oak-brown: #85583c;
 /*  --secondary-pale-brown: #b29d8d; */

  --highlight-apple-green: #eae8b2;
  --highlight-jade-blue: #8eb3cf;
  --highlight-jade-green: #8eb3cf;
  --highlight-glass-blue: #588ac4;
  /*--highlight-dun-brown: #cab6a2;*/

  --circle-div-height: 7rem;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  margin-top: 0;
  font-family: "Inria sans";
  color: white;
  background-color: rgb(27, 22, 34);
}

h1 {
  font-family: "Meddon";
  font-size: 4rem;
  color: white;
  line-height: 100%;

}

h2 {
  font-family: "Walter Turncoat";
  font-size: 1.5rem;
}

a:link {
  color: var(--highlight-glass-blue);
}

a:visited{
  color: var(--highlight-jade-green);

}
a:hover {
  color: var(--highlight-apple-green);
}

a:active {
  color: var(--secondary-apple-pink);
}

input {
  padding: 0.5rem;
  border-radius: 7px;
  margin-bottom: 1rem;
  border: none;
}

button {
  border: none;
}

/*   HEADER   */

header {
  margin-top: 0;
}

.fixed-header {
  position: fixed;
  top: 0;
}

.title-banner {
  /* contains the .logo and .title div classes as siblings */
  display: flex;
  width: 100vw;
  height: 20vh;
  background: var(--primary-apple-blush);
}

.logo {
  height: 15vh;
  flex: 1;
}

.title {
  /* div containing page title */
  flex: 3;
}

nav {
  background-color: var(--primary-apple-blush);
  font-size: 1.5em;
  margin-top: 0;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  z-index: 1;
}
nav ul {
  max-height: 10vh;
  margin: 0 0;
  /*display: flex;*/
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

nav a :hover {
  color: var(--secondary-oak-brown);
}

.overlay {
  display: none;
  background: transparent;
  position: fixed;
}

.menu-icon {
  /* only displays on smaller screens */
  font-family: "Material Symbols Outlined";
  color: white;
  font-size: 2rem;
  display: none;
  background: transparent;
}

.scrollDown {
  /* activated on scrollTop > 100  */
  background-color: var(--primary-apple-red);
}

.circle.scrolldown {
  z-index: 0;
}

.circle {
  line-height: calc(var(--circle-div-height));
  border-radius: 50%;
  height: var(--circle-div-height);
  width: var(--circle-div-height);
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2; /* start index */
}

.circle a:hover {
  color: var(--secondary-oak-brown);
}

a.jump-up h2 {
  color: white;
}

#circle-1 {
  /* About */
  background-color: #eae8b2;
  top: 11.5rem;
  left: 44rem;
}

#circle-2 {
  /*Contact */
  background-color: #82abb4;
  top: 32rem;
  left: 50rem;
}

#circle-3 {
  /* Skills */
  background-color: #8f4051;
  top: 22rem;
  left: 60rem;
}

#circle-4 {
  /* Projects */
  background-color: #853c70;
  left: 80rem;
  top: 15rem;
}

#circle-5 {
  /* Gallery */
  background-color: #919121;
  top: 35rem;
  left: 100rem;
}

#circle-6 {
  background-color: var (--highlight-glass-blue);
}

.hero-banner {
  width: 100vw;
  background-image: url("./assets/images/linus-nylund-JP23z_-dA74-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
}

.hero-overlay {
  /* div with nav circles */
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  /* display set to block on page load */
  top: 0;
  left: 0;
  background: transparent;
}

/* MAIN CONTENT */

main {
  width: 100vw;
 /* background: var(--secondary-pale-brown);*/
}

section {
  padding: 1rem;
  width: 85vw;
  margin: 2rem auto;
  border-radius: 1rem;
  background-color: var(--secondary-oak-brown);
}

#projects {
  display: flex;
  justify-content: space-around;
}

.card {
  min-height: 18rem;
  min-width: 18rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-pale-brown);
  box-shadow: 0 0 2px #301a18, 0 0 5px #613430, 0 0 8px #6d3b36,
    9px 9px 10px #79413c;
}

.card ::after {
  display: table;
  content: "";
  clear: both;
}

.card img {
  max-height: 12rem;
  border-radius: 1rem;
}

.main a {
  color: var(--highlight-glass-blue);
  font-weight: bolder;
}

progress {
  height: 10px;
  width: 200px;
  border-radius: 7px;
  display: block;
}

.skills-table {
  align-content: center;
  line-height: 30px;
  padding: 1rem;
  border: none;
  width: 60vw;
  border-collapse: collapse;
  text-align: center;
}

.skills-table tr:nth-child(even) {
  background-color: var(--secondary-oak-brown);
  border-radius: 4px;
}

.skills-table td:first-child() {
  text-align: left;
}

/* FOOTER  */

footer {
  background-image: linear-gradient(0deg, rgb(117, 51, 51), rgb(27, 22, 34));
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding: 1rem;
}

#contact-form {
  flex: 1;
  padding: 0.5rem 1rem;
}

#contact-form input {
  width: 20vw;
}

#logo4 {
  height: 75px;
  width: auto;
  align-items: right;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.rotate {
  animation: spin 1s 3;
}

#back-to-top {
  background-color: var(--highlight-jade-green);
  color: white;
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
}

#sendBtn {
  border-radius: 7px;
}

.acknowledgements {
  flex: 1;
}

@media screen and (max-width: 700px) {
  /*responsive navbar*/
  .menu-icon {
    display: block;
  }

  h1 {
    font-size: 2rem;
  }

  .menu-icon {
    display: block;
  }

  .logo img {
    transform: scale(0.8);
  }

  .hero-overlay,
  .hero-banner,
  nav ul {
    display: none;
  }

  progress {
    max-width: 200px;
  }

  .card {
    background-color: var(--secondary-oak-brown);
    box-shadow: none;
  }

  .card img {
    max-width: 60vw;
    display: block;
    margin: auto;
  }

  #contact-form input {
    width: 80vw;
    border: none;
  }
}
