@import url("https://fonts.googleapis.com/css?family=Inria+Sans");
@import url("https://fonts.googleapis.com/css?family=Meddon");
@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");

/*  GLOBAL STYLES  */
:root {
  --primary-apple-red: #521d18;
  --primary-apple-blush: #79413c;
  --secondary-apple-pink: #8F4051;

  --secondary-oak-brown: #85583C;
  --secondary-pale-brown: #b29d8d;

  --highlight-apple-green: #eae8b2;
  --highlight-jade-blue: #8eb3cf;
  --highlight-jade-green: #8eb3cf;
 --hightlight-glass-blue: #588AC4;
  /*--highlight-dun-brown: #cab6a2;*/

}

html {
  scroll-behavior: smooth;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 0;
  font-family: "Inria sans";
  color: white;
}

h1 {
  font-family: "Meddon";
  font-size: 3rem;
}

h2,h3 {
  font-family: "Walter Turncoat";
  font-size: 1.5rem;
}

input,
button {
  padding: 0.5rem;
  border-radius: 7px;
  margin-bottom: 1rem;
}

/*   HEADER   */

header {
  margin-top: 0;
  position: fixed;
}

.title-banner { /* contains the .logo and .title div classes as siblings */
  display: flex;
  width: 100vw;
  height: 20vh;
  background: var(--primary-apple-blush);
}

.title-banner h1 {
  color: var(--primary-apple-red);
  text-shadow: 0 1px white;
text-align: center;
line-height: 100%;
}

.logo {
  display: inline-block;
  height: 20vh; 
}

.title { /* div containing page title */
flex: 1;
}

nav {
  background-color: var(--primary-apple-blush);
  font-size: 1.5em;
  margin-top: 0;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  z-index: 1;
}

.overlay {
  display: none;
  background: transparent;
  position: fixed;
}


.menu-icon { /* only displays on smaller screens */
  font-family: 'Material Symbols Outlined';
  display: none;
}
.scrollDown {  /* activated on scrollTop > 100  */
  background-color: var(--primary-apple-red);
}

.circle{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: fixed;
}
#circle-1 { background-color: #82ABB4;}
#circle-2 { background-color: #853C70;}
#circle-3 { background-color: #EAE8B2;}
#circle-4 { background-color: #8F4051;}
#circle-5 { background-color: #919121;}

nav ul {
  max-height: 80px;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

nav a :hover {
  color: var(--secondary-oak-brown);
}

.hero-banner {
  width: 100vw;
  min-height: 80vh;
  border: 3px solid red;
  background-image: url("./assets/images/appleBowl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 20vh;
  z-index: 0;
}



/* MAIN CONTENT */

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: var(--primary-apple-red);
  justify-content: center;
  align-items: stretch;
}

section {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-apple-blush);
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.card {
  min-height: 200px;
  min-width: 300px;
   padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color:var(--secondary-pale-brown);
  box-shadow: 2px 2px 2px #301a18,
    6px 6px 5px #613430,
  7px 7px 8px #6d3b36,
  9px 9px 10px #79413c;
  
  
 
}

.card::after {
  display: table;
  content: "";
  clear: both;
}

.card img {
  max-height: 200px;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(73, 70, 70);
}

.main-flex-container a {
  text-decoration: none;
  color: var(--glass-blue);
  font-weight: bolder;
}

progress {
  height: 10px;
  width: 200px;
  border-radius: 7px;
  ;
  display: block;
}

.skills-table {
  align-content: center;
  line-height: 30px;
  padding: 1rem;
  border: none;
  width: 60vw;
  border-collapse: collapse;
  text-align: center;
}


.skills-table tr:nth-child(even) {
  background-color: var(--secondary-oak-brown);
  border-radius: 4px;

}

.skills-table td:first-child() {
  text-align: left;

}

/* FOOTER  */

footer {
  background: var(--secondary-oak-brown);
  display: flex;
  min-height: 200px;
  padding: 1rem;
}

#contact-form {
  flex: 1;
  padding: 0.5rem 1rem;
}

#logo4 {
  height: 75px;
  width: auto;
  align-items: right;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.rotate {
  animation: spin 1s 3;
}

#back-to-top {
  border-radius: 5px;
  background-color: var(--highlight-jade-green);
  color: white;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.submitBtn {
  border-radius: 7px;
}

.acknowledgements {
  flex: 1;
}


@media screen and (max-width: 700px) {

  /*responsive navbar*/

 
  h1 {
    font-size: 2rem;
  }

  .logo img {
    transform: scale(0.8);
  }

  

  progress {
    max-width: 200px;
  }

  .card {
    background-color: var(--secondary-oak-brown);
    box-shadow: none;
  }

  .card img {
    max-width: 60vw;
    display: block;
    margin: auto;
  }
}